@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

@layer components {

  /** Prevent scroll when modal is open */
  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }
}

@layer utilities {

  /** Remove scrollbar from overflow-auto */
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  h1 {
    font-size: 1.9em;

    @media only screen and (max-width: 480px) {
      font-size: 1.7em;
    }
  }

  h3 {
    font-size: 40px;
    line-height: 40px;

    @media only screen and (max-width: 480px) {
      font-size: 28px;
    }
  }

  .objectDesktop {
    object-position: 0px center;
  }

  .objectTablet {
    object-position: -150px center;
  }

  .objectMobile {
    @media only screen and (max-width: 480px) {
      object-position: -400px center;
    }
  }

  .sal-animate {
    transition: opacity 0.3s ease;
    opacity: 0;
  }
}